<section class="feature-highlight">
  <!-- Centered Heading -->
  <h2 class="feature-highlight-heading">
    Simplify work. Empower your people.
  </h2>

  <!-- Content row -->
        <div className="feature-highlight-video">
          <video
            ref={videoRef}
            src="featurehiglight.mp4"
            muted
            loop
            playsInline
            preload="auto"
          ></video>
        </div>

    <!-- Right side text -->
    <div class="feature-highlight-text">
      <p>
        Inventory Management makes it simple to bring your people together,
        improve communication, and build a culture of trust and engagement
        across your organization.
      </p>
      <a href="/login" class="feature-btn">Learn more</a>
    </div>
  </div>
</section>
