<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <p><%= image.description %></p>
  <img src="../public/images/image-1718433667066.jpg" alt="<%= title %>" style="max-width: 600px;">
</body>
</html>
